image:
 - Visual Studio 2019

# clone directory
clone_folder: c:\projects\wxMaximaMaxima
# Do not clone the entire git repository
clone_depth: 15

cache:
  # The build directory is only cached for the .pdb files. Other files are removed.
  - C:\ProgramData\chocolatey\bin -> appveyor.yml
  - C:\ProgramData\chocolatey\lib -> appveyor.yml
  # Do not cache the build itself - we only care about the install!

# branches to build
branches:
  except:
  - gh_pages
  - DebianPackaging
  - DebianPackaging_NightlyBuild

install:
  - set PATH=C:\MinGW\bin;%PATH%
  - ps: |
      echo '- Installing pandoc...'
      choco install -y --no-progress pandoc
      choco install -y --no-progress 7zip.install
      choco install -y --no-progress nsis

build_script:
  - ps: |
      cmake .
      cmake --build .

on_failure:
  - ps: |
      7z a FailureDump.zip *
      Push-AppveyorArtifact FailureDump.zip

artifacts:
  - path: '*.exe'
    name: wxMaxima_Installer

deploy:
  - provider: Environment
    name: GithubReleases
    draft: false
    prerelease: false
    on:
      APPVEYOR_REPO_TAG: true
