name: build

on: [push]

env:
  BUILD_TYPE: Release
  WXVERSION: 3.1.3

jobs:
  compile_wxWidgets:
    runs-on: windows-latest

    steps:
    - name: Checkout_git
      uses: actions/checkout@v2
      with:
        # We must fetch at least the immediate parents so that if this is
        # a pull request then we can checkout the head.
        fetch-depth: 15
    - name: Download_wxWidgets
      run: |
          echo 1: ${WXVERSION}
          echo 2: ${{env.WXVERSION}}
          echo 3: ${env.WXVERSION}
          echo 4: ${ env.WXVERSION }
          echo 5: $WXVERSION
          echo 6: %WXVERSION%
          Invoke-WebRequest -Uri https://github.com/wxWidgets/wxWidgets/releases/download/v${{env.WXVERSION}}/wxWidgets-${{env.WXVERSION}}.zip -OutFile wxWidgets-${{env.WXVERSION}}.zip
    - name: extract_wxWidget
      run: Expand-Archive -LiteralPath wxWidgets-${{env.WXVERSION}}.zip -DestinationPath wxWidgets-${{env.WXVERSION}}
    - name: configure_wxWidgets
      run: |
          cd wxWidgets-${{env.WXVERSION}}
          cd build
          cd msw
          mingw32-make -f makefile.gcc
          cd ..
          cd ..
          cd..
